#field {
position:absolute;
left:300px;
top:50px;
border:0; 
   }
 .cell{
 
 background-image: url("/assets/images/ControlPictures/question.png");
 width: 70px; 
 height: 70px;
 }
   
#controlpanel {
position:absolute;
left:20px;
top:50px;
border:0; 
   }
   
#size {
position:absolute;
left:20px;
top:370px;
align:left;
   }
   
body{
background-color:green;
}

#gamecontrol{
position:absolute;
left:300px;
top:350px;

   }