#field {
position:relative;
left:300px;
border:0; 

   }
 .cellclosed{
 background-image: url("/assets/images/ControlPictures/question.png");
 width: 75px; 
 height: 75px;
 }
 .cellguessed{
 background-color: white;
 width: 75px; 
 height: 75px;
 }
   
#themecontrol {
position:absolute;
left:20px;
border:0; 
   }
   
#size {
position:absolute;
left:20px;
top: 320px;
align:left;
   }
   
body{
background-color:green;
}

#gamecontrol{
 position:relative;
 left: 300px;

   }