#field {
position:relative;
left:300px;
border:0; 

}
.fieldcell{
  width: 75px; 
  height: 75px;
}

 .cellguessed{
 background-color: white;
 }
 .themebutton{
 width: 60px; 
 height: 60px;
 }
   .instruction{
text-align:left;
font-style:italic;
font-family:verdana;
font-size: small; 
   }
#themecontrol {
position:absolute;
left:20px;
top: -12px;
border:0; 
   }
   
#sizecontrol {
position:absolute;
left:20px;
top: 350px;
   }

   
body{
background-color:green;
}

#gamecontrol{
 position:relative;
 left: 300px;

   }