
@(dimension:Int, currentTheme:String)(pictureBindings: String)

@main(dimension, currentTheme)(pictureBindings){

<table id="themecontrol" >
<tr>
<td> 
@helper.form(routes.Application.showField("countries", dimension)){
<button><img src="@routes.Assets.at("images/ControlPictures/countries.png")" width="60" height="60"> </button>
 }
 </td>
</tr>
<tr>
<td> 
@helper.form(routes.Application.showField("people", dimension)){
<button ><img src="@routes.Assets.at("images/ControlPictures/People.png")"  width="60" height="60"> </button>
}
</td>
</tr>
<tr>
<td>
@helper.form(routes.Application.showField("fruits", dimension)){
<button><img src="@routes.Assets.at("images/ControlPictures/fruits.png")"  width="60" height="60"></button>
}
</td>
</tr>
<tr>
<td>
@helper.form(routes.Application.showField("fashion", dimension)){
<button><img src="@routes.Assets.at("images/ControlPictures/fashion.png")"  width="60" height="60"></button>
}
</td>
</tr>
</table> 

<table id="size" >
<div >
<tr>
<td>
@helper.form(routes.Application.showField(currentTheme,2)){
<button> 2</button>
}
</td>
<td>
@helper.form(routes.Application.showField(currentTheme,4)){
<button> 4</button>
}
</td>
<td>
@helper.form(routes.Application.showField(currentTheme,6)){
<button>6 </button>
}
</td>
<td>
@helper.form(routes.Application.showField(currentTheme,8)){
<button> 8</button>
}
</td>
</tr>
</div>
</table> 


}

