@(dimension:Int, currentTheme:util.Theme.Value)

@main(dimension, currentTheme){
   
<table id="controlpanel" >
<tr>
<td> 
@helper.form(routes.Application.changeTheme("countries")){
<button><img src="@routes.Assets.at("images/ControlPictures/countries.png")" width="60" height="60"> </button>
 }
 </td>
</tr>
<tr>
<td> 
@helper.form(routes.Application.changeTheme("people")){
<button ><img src="@routes.Assets.at("images/ControlPictures/People.png")"  width="60" height="60"> </button>
}
</td>
</tr>
<tr>
<td>
@helper.form(routes.Application.changeTheme("fruits")){
<button><img src="@routes.Assets.at("images/ControlPictures/fruits.png")"  width="60" height="60"></button>
}
</td>
</tr>
<tr>
<td>
@helper.form(routes.Application.changeTheme("fashion")){
<button><img src="@routes.Assets.at("images/ControlPictures/fashion.png")"  width="60" height="60"></button>
}
</td>
</tr>
</table> 

<table id="size" >
<div >
<tr>
<td>
@helper.form(routes.Application.resize(2)){
<button> 2</button>
}
</td>
<td>
@helper.form(routes.Application.resize(4)){
<button> 4</button>
}
</td>
<td>
@helper.form(routes.Application.resize(6)){
<button>6 </button>
}
</td>
<td>
@helper.form(routes.Application.resize(8)){
<button> 8</button>
}
</td>
</tr>
</div>
</table> 
<div id="gamecontrol" ><br>
<button type="button" onclick="@routes.Application.reset">Spiel zurücksetzen </button>
<button type="button" onclick="@routes.Application.solve"> Spiel lösen</button>
</div>

}

