
@(dimension:Int, currentTheme:String, message :String)(pictureBindings: String)

@main(dimension, currentTheme)(pictureBindings){
<div id="themecontrol">
<p class="instruction">Bitte das Thema wählen</p>
<table>
<tr>
<td> 
@helper.form(routes.Application.showField("countries", dimension)){
<button><img class ="themebutton" src="/assets/images/ControlPictures/countries.png"></button>
 }
 </td>
</tr>
<tr>
<td> 
@helper.form(routes.Application.showField("people", dimension)){
<button><img class ="themebutton" src="/assets/images/ControlPictures/People.png"></button>
}
</td>
</tr>
<tr>
<td>
@helper.form(routes.Application.showField("fruits", dimension)){
<button><img class ="themebutton"src="/assets/images/ControlPictures/fruits.png"></button>
}
</td>
</tr>
<tr>
<td>
@helper.form(routes.Application.showField("fashion", dimension)){
<button ><img class ="themebutton" src="/assets/images/ControlPictures/fashion.png"></button>
}
</td>
</tr>
</table> 
</div>

<div id="sizecontrol">
<p class="instruction"> Bitte die Spielfeldrösse wählen</p><table><tr><td>
@helper.form(routes.Application.showField(currentTheme,2)){
<button> 2</button>
}
</td>
<td>
@helper.form(routes.Application.showField(currentTheme,4)){
<button> 4</button>
}
</td>
<td>
@helper.form(routes.Application.showField(currentTheme,6)){
<button>6 </button>
}
</td>
<td>
@helper.form(routes.Application.showField(currentTheme,8)){
<button> 8</button>
}
</td>
</tr>

</table> 
</div>
<script type="text/javascript">
 alert(message);
</script>
}

