@(dimension:Int, currentTheme:String)(pictureBindingsJSON: String)(content: Html)

@import controllers.Application
@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>Memospiel</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/ControlPictures/brain.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
  @content
 <div id= "field">
 <table >
      <tbody>
	  @for(row <- 0 until dimension) {
          <tr>
          	@for(column <- 0 until dimension) {
			    <td "row" =row, "col" =column>
			      @helper.form(routes.Application.selectCell(row, column)){
                        <button class ="cellclosed" id='c@row,@column'> </button>
						}
			     </td>
          	}
          </tr>
      	 }
	  </tbody>
  </table>
  </div>
 <div id="gamecontrol" ><br>
<table>
<tr>
@helper.form(routes.Application.reset){
<button> Spiel zurücksetzen</button>
}
@helper.form(routes.Application.solve){
<button> Spiel lösen</button>
}
</tr>
</table>
</div>
  <script type="text/javascript">
    var RP = {
		pictureBindings: JSON.parse('@Html(pictureBindingsJSON)')
	};
	  
	function openCell(row, col){
	  $('#c', row, col).removeClass(cellclosed);
	  $('#c', row, col).css("background-image", RP.pictureBindings[row][col].url );
	};	

	function guessedCell (row, col){
	  $('#c', row, col).removeClass(cellclosed);
	  $('#c', row, col).addClass(cellguessed);
	};
	
	function closeCell(row, col){
	  $('#c', row, col).addClass(cellclosed);
	};

	  
  </script>
   </body>
</html>
