@(dimension:Int, currentTheme:String)(pictureBindingsJSON: String)(content: Html)

@import controllers.Application
@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>Memospiel</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/ControlPictures/brain.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
  @content
 <div id= "field">
 <table >
      <tbody>
	  @for(row <- 0 until dimension) {
          <tr>
          	@for(column <- 0 until dimension) {
			    <td>
			     
                        <button class="fieldcell" id='c@row-@column' onclick="clickCell(@row,@column)"> </button>
						
			     </td>
          	}
          </tr>
      	 }
	  </tbody>
  </table>
  </div>
 <div id="gamecontrol" ><br>
<table>
<tr>
@helper.form(routes.Application.reset){
<button> Spiel zurücksetzen</button>
}

<button onclick= "solveGame()"> Spiel lösen</button>

</tr>
</table>
</div>

  <script type="text/javascript">
    var RP = {
		pictureBindings: JSON.parse('@Html(pictureBindingsJSON)')
	};
	var question = "/assets/images/ControlPictures/question.png";
	
	$(document).ready(function() {
        closeAllCells();
	});

	function closeAllCells(){
	$('.fieldcell').css("background-image", 'url(' + question+ ')');
	};

	function openAllCells(){
	for (var i =0; i < @dimension; i++){
		for (var j=0; j < @dimension; j++){
			openCell(i, j);
		}
	}
	};
	  
	function openCell(row, col){
	  $('#c' + row + '-' + col).css("background-image", 'url(' + RP.pictureBindings[row*@dimension + col].url + ')');
	};	

	function hideCell (row, col){
	  $('#c' + row + '-' + col).css({'background-image': 'none',});
									
	};
	
	function closeCell(row, col){
	  $('#c' + row + '-' + col).css("background-image", 'url('+question+')');
	};
	
	function clickCell(row,col){
		$.ajax({
            type : 'GET',
            url : "/selectCell/" + row + "/" + col,
            success : function(data) {
                var response = JSON.parse(data)
				var chgCells = response.changedCells
				var occ = chgCells.openedCell
				$.each(chgCells.closedCells,function(i, coords) {
					closeCell(coords.row, coords.column)
				});
				if(occ != null)
					openCell(occ.row, occ.column)
				$.each(chgCells.guessedCells,function(i, coords) {
					hideCell(coords.row, coords.column)
				});
				if (response.isGameOver){
				    openAllCells();
					alert("Spiel gelöst. Danke für das Spiel.");
				};
			},
            error : function(data) {
                setError('Make call failed');
				alert("We've had a problem, Houston");
            }
        });
	}
	
	function solveGame(){
	$.ajax({
            type : 'GET',
            url : "/solve",
            success : function(data) {
                var response = JSON.parse(data)
				if (response.res){
				openAllCells();
				alert(response.statusText);
				};
							},
            error : function(data) {
                setError('Make call failed');
				alert("Problem solving the game");
            }
        });
	}
	
	
	  
  </script>
   </body>
</html>
